body {
  background-color: #fdf6ec;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_logo_text {
  display: flex;
  align-items: center;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
}
.header_item {
  margin-right: 41.28px;
  list-style-type: none;
  font-size: 25px;
  color:black;

}
.header_link {
  text-decoration: none;
  color: black;
}
.intro {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("https://i.pinimg.com/originals/9c/4e/6d/9c4e6dac2b4b7de3d62d9a4cdba182fc.jpg");
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro_text {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.intro_title {
  font-size: 58px;
  color: #ffffff;
  text-align: center;
  padding-top: 45px;
}
.intro_button {
  min-width: 327px;
  margin: 40px 0;
  line-height: 26px;
  font-size: 20px;
  padding: 12px 24px;
  background-color: #5672c4;
  color: #fff;
  border-radius: 57px;
  box-shadow: 0 0 2px 0 #8FBDD3, 0 2px 2px 0 #F7F5F2;
}
.left {
  padding-top: 80px;
  font-size: 35px;
  clear: left;
}
.table
{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  float: left;
}
th{
  font-size: larger;
  background-color:#006778;
}
td:nth-child(1)
{
  background-color:#006778;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
